# Assignment 1

## Task 1:

1.Install Jupyter notebook and run the first program and share the screenshot of the output.

In [2]:
a = 10
b = 20
c = 20//10
c

2

2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

In [3]:
a = 2000
b = 3200
c = []
for i in range(a,b+1):
    if (i%7==0) and (i%5==0):
        c.append(str(i))
        
print(",".join(c))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

3.Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [9]:
fname = str(input("Your Fast Name Please! "))
lname = str(input("Your Last Name Please! "))
fullname = fname +" "+lname
print("Your reverse name is "+fullname[::-1])

Your Fast Name Please! subhajit
Your Last Name Please! saha
Your reverse name is ahas tijahbus

4.Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [12]:
d = 12
r = d/2
pi = 3.14
V= (4/3)*pi*(r**3)
print("The Volume of sphere is %.2f"%V)

The Volume of sphere is 904.32

## Task 2:

1.Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [18]:
Num = (input("Please fill with multiple number :"))
list = Num.split(',')
print("List :",list)

Please fill with multiple number :1,2,2,3,4,6,8
List : ['1', '2', '2', '3', '4', '6', '8']

2.Create the below pattern using nested for loop in Python.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [22]:
n=5;
for i in range(n+1):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(4,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3.Write a Python program to reverse a word after accepting the input from the user.

In [23]:
type_input = input("Please type word here: ")
print("Here is reverse world: "+type_input[::-1])

Please type word here: asgiu;gbcis'
Here is reverse world: 'sicbg;uigsa

4.Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [43]:
sample_word = ("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN !,\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t\tand to secure to all its citizens")
print(sample_word)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN !,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			and to secure to all its citizens